<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}Recipebook{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    <h1><a href="{% url 'ledger:recipes' %}" style="color: #000; text-decoration: none;">Recipe Book</a></h1>
    {% if not request.get_full_path == "/accounts/login/" %}
      {% if request.user.is_authenticated %}
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
      {% elif not request.user.is_authenticated %}
        <button onclick="document.location='{% url 'login' %}'">Login</button>
      {% endif %}
    {% endif %}
    <p>You are on the <i>{{ request.resolver_match.url_name }}</i> page</p>
    <hr>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>