{% extends 'base.html' %}
{% load static %}

{% block title %}Recipes{% endblock %}
{% block content %}
    <h2>{{ recipe.name }}</h2>
    {% if recipe.image.all.count == 0 %}
      <button onclick="document.location='{% url 'ledger:add-image' recipe.pk %}'">Upload Image</button>
    {% else %}
      {% for image in recipe.image.all %}
        <img src="{{ image.image.url }}" alt="{{ image.desc }}" style="max-height: 200px;"/>
      {% endfor %}
    {% endif %}
    {% if request.user.is_authenticated %}
        <p><b>by:</b> {{ recipe.author }}</p>
    {% endif %}
    <ol>
        {% for ingredient in recipe.ingredient.all %}
            <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
        {% endfor %}
    </ol>
{% endblock %}